[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "niaidMI"]
	path = niaidMI
	url = https://github.com/cran/niaidMI
	shallow = true
	registered = true
